<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container right-panel-active">
    <div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1> MITSPCELL</h1>
				<p>To keep connected with us please generate a new password</p>
			</div>
		</div>
	</div>
	<div class="form-container sign-in-container">
		<form #f="ngForm" (ngSubmit)="onsubmit(f)" >
			<h1>Reset password</h1><br/>
			<input type="password" placeholder="NEW PASSWORD" name="password" [(ngModel)]="password" required/>
			<input type="password" placeholder="CONFIRM PASSWORD" name="confirm" [(ngModel)]="confirm" pattern="{{password}}" required/><br/>
			<button type="submit" [disabled]="!f.valid">SUBMIT</button><br><br>
		</form>
	</div>
</div>
<!-- /^([a-zA-Z0-9]+)@mits.ac.in$/ -->

