
.layout{
    padding:2%;
    height: 100%;
    background-color: white;
}
.spacing{
    margin: 2%;
}
button{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightblue;
    font-size: 12px;
    border-radius: 0px;
    color: grey;
    padding:3%
}

.table button{
    width:70%;
    border: none;
    color: #000124;
}



.card{
    text-align: center;
}
.card button{
    width: auto;
    margin: 1%;
    float:right;
}
.buttoncolor{
    background-color: #E4E9F7;
    border-radius: 20px;
    font-size: 12px;
    color: #000124;
    border:none;
}
.dangercolor{
    color: white;
    background-color: crimson;
    border-radius: 20px;
}
.aligncenter{
    padding-top:10%
}
table button:hover{
    background-color: #E4E9F7;
}

.signup{
    background-color: white;
    padding:10%;
    padding-top:2%;
    align-content: left;
}
.signup input ,select
{
    width: 70%;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}
.signup button{
    width: 20%;
    padding: 1%;
    background-color: #000124;
    color:white;
    border-radius:20px;
    
}
.signup .dangercolor{
    color: white;
    background-color: crimson;
    border-radius: 20px;
}
.container{
    height: 100vh;
}

.users{
    width:225px
}


