<div style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);background-color: crimson;" class="text-center">
<button routerLink="/faculty/co"  routerLinkActive="clicked" [routerLinkActiveOptions]="{ exact: true }">UPLOAD CO'S</button>
<button routerLink="/faculty/co/target"  routerLinkActive="clicked">UPLOAD CO ATTAINMENT</button>
<button routerLink="/faculty/co/classes"  routerLinkActive="clicked">UPLOAD CO CLASSES</button>
<button routerLink="/faculty/co/pso"  routerLinkActive="clicked">UPLOAD PSO AND POS</button>
<button routerLink="/faculty/co/coques"  routerLinkActive="clicked">UPLOAD QUESTION CO'S</button>
</div>
<div>
<router-outlet></router-outlet>
</div>
