<div class="table-responsive layout">
    <div *ngIf="savingMode!='Saved' else saved">
        <span style="cursor: pointer;color: crimson;float: right;"><div><strong>Excel Format</strong><br>
            <table class="table  text-center" style="color:grey;width: 30vw;font-size: 12px;"><tr style="border-bottom:0.5px solid lightgrey">
                <td >Subjectcode&nbsp;</td><td>&nbsp;Subjectname&nbsp;</td><td>&nbsp;CO1&nbsp;</td><td>&nbsp;
                    CO2&nbsp;</td><td>&nbsp;CO3&nbsp;</td>
                    <td>&nbsp;CO4&nbsp;</td><td>&nbsp;CO5&nbsp;</td></tr><tr></tr>
                <tr><td style="color: lightblue;">*******</td><td><td><td></td><td></td><td><td><td></td></tr></table></div></span><br>
    <br><div><br>
    <input type="file" accept=".xlsx" multiple="false"(change)="onfilesubmit($event)"><br>
    <button *ngIf="saveMode" (click)="save()">{{savingMode}} DATA</button><br>
    </div><br>
             <table class="table text-center ">
                 <th *ngFor="let head of keys" style="background-color:crimson;color: white;padding: 0.5%;font-weight: 500;">
                    {{head | uppercase}}</th>
                 <tr *ngFor="let row of mapping" style="color: grey;">
                     <td style="padding: 0.2%;">
                             {{row.subjectcode}} </td> 
                     <td>{{row.subjectname}}</td>
                     <td>{{row.co1}}</td>
                     <td>{{row.co2}}</td>
                     <td>{{row.co3}}</td>
                     <td>{{row.co4}}</td>
                     <td>{{row.co5}}</td>
                 </tr>
                 
             </table>
     </div>

     <ng-template #saved><br>
        SUCCESSFULLY SAVED
    </ng-template>
</div>