

<div class="layout" style="display: flex;align-items: center;justify-content: center;">


    <div  style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);width: 70vw;margin-top:5vh;" class="text-center" [formGroup]="pass">
        <br><br>
        <div *ngIf="change==false else ch">
        <h3 style="color: gray;">CHANGE PASSWORD</h3><br>
        <input formControlName="password" type="password" class="form-control" placeholder="PASSWORD" style="width: 50vw;margin-left: 3vw;"><br>
        <input formControlName="confirmpassword" type="password" class="form-control" pattern="{{pass.value.password}}" style="width: 50vw;margin-left: 3vw;" placeholder="CONFIRM PASSWORD"><br>
        
        <button style="float: left;margin-left: 3vw;padding: 4px;" (click)="save()" *ngIf="pass.status=='VALID'">SAVE</button>
        <br><br>
        </div>
        <ng-template #ch>
          PASSWORD UPDATED . <br><br>
        </ng-template>
    </div>

</div>